{
    "parser": "babel-eslint",
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 2018,
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "plugins": [
        "babel"
    ],
    "env": {
        "browser": false,
        "node": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "camelcase":"off",
        "eol-last": ["error", "always"],
        "indent": ["error", 4],
        "sort-imports":"error",
        "sort-keys": "error",
        "sort-vars": "error",
        "strict": "error",
        "quotes": [2, "single", { "avoidEscape": true }],
        "arrow-spacing": ["error", { "before" : true, "after": true }]
    }
}