<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Redirecting to Slack...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .loader {
            display: block;
            margin-left: auto;
            margin-right: auto;
            border: 16px solid #f3f3f3;
            border-radius: 50%;
            border-top: 16px solid #3498db;
            width: 120px;
            height: 120px;
            -webkit-animation: spin 2s linear infinite;
            /* Safari */
            animation: spin 2s linear infinite;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <div class="loader"></div>
    <h4>If you are not redirected back to Slack, <a href="Slack://user">click here.</a></h4>
</body>

<script>
window.onload = () => {
    window.location.replace("Slack://user");
};
</script>

</html>